sbatch --job-name=pytorch-ac --ntasks=1 --cpus-per-task=1 --mem=64G --time=2-00:00:00 --partition=volta-gpu --gres=gpu:1 --qos=gpu_access --wrap "python3 src/topologies/mate_pair_torch.py --idir /pine/scr/d/d/ddray/exp_iter2_g0_trained/ --odir {0}/{4}_{5} --i {1} --j {2} --ix {3} --metric {4} --feature {5}"
single:odir
pickle:pkl$\get{0}
pickle:pkl$\get{1}
pickle:pkl$\index{}
list:$\list{['euclidean','seuclidean','cosine','correlation','chebyshev','canberra','braycurtis']}
list:$\list{['xg', 'xgs', 'xgs_sp']}

###product:group:1,2,3
